<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{picture/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <div class="table-responsive">
                <table class="table table-hover" th:if="${!#lists.isEmpty(pictures)}">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="picture : ${pictures}">
                            <tr>
                                <td><img alt="Picture" class="picture" th:src="@{|/pictures/${picture}|}"/></td>
                                <td><a th:href="@{|/pictures/remove/${picture}|}">Remove</a></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Pictures pagination" th:if="${!#lists.isEmpty(pictures) && totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
                        <a class="page-link" aria-label="First" th:attr="tabIndex=${currentPage <= 1} ? -1" th:href="@{|/pictures?page=1|}">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
                        <a class="page-link" aria-label="Previous" th:attr="tabIndex=${currentPage <= 1} ? -1" th:href="@{|/pictures?page=${currentPage - 1}|}">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:text="${T(com.github.vhromada.catalog.web.converter.ConverterUtils).convertPage(currentPage, totalPages)}"
                           th:href="@{|/pictures?page=${currentPage}|}">
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                        <a class="page-link" aria-label="Next" th:attr="tabIndex=${currentPage >= totalPages} ? -1" th:href="@{|/pictures?page=${currentPage + 1}|}">&raquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                        <a class="page-link" aria-label="Next" th:attr="tabIndex=${currentPage >= totalPages} ? -1" th:href="@{|/pictures?page=${totalPages}|}">&raquo;&raquo;</a>
                    </li>
                </ul>
            </nav>
            <th:block th:if="${#lists.isEmpty(pictures)}">No records.</th:block>
        </div>
    </body>
</html>
