<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{season/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="title">Number</td>
                            <td th:text="${season.number}"></td>
                        </tr>
                        <tr>
                            <td class="title">Year</td>
                            <td th:text="${T(com.github.vhromada.catalog.web.converter.ConverterUtils).convertSeasonYears(season)}"></td>
                        </tr>
                        <tr>
                            <td class="title">Language</td>
                            <td th:text="${season.language}"></td>
                        </tr>
                        <tr th:if="${!#lists.isEmpty(season.subtitles)}">
                            <td class="title">Subtitles</td>
                            <td th:text="${T(com.github.vhromada.catalog.web.converter.ConverterUtils).convertStrings(season.subtitles)}"></td>
                        </tr>
                        <th:block th:if="${season.episodesCount > 0}">
                            <tr>
                                <td class="title">Episodes count</td>
                                <td th:text="${season.episodesCount}"></td>
                            </tr>
                            <tr>
                                <td class="title">Total length</td>
                                <td th:text="${season.formattedLength}"></td>
                            </tr>
                        </th:block>
                        <tr th:if="${!#strings.isEmpty(season.note)}">
                            <td class="title">Note</td>
                            <td th:text="${season.note}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><a th:href="@{|/shows/${show}/seasons/${season.uuid}/episodes|}">Episodes</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
