<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <!--/*@thymesVar id="action" type="java.lang.String"*/-->
    <!--/*@thymesVar id="show" type="com.github.vhromada.catalog.web.fo.ShowFO"*/-->
    <!--/*@thymesVar id="genres" type="com.github.vhromada.catalog.web.connector.entity.Genre[]"*/-->
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{show/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <form method="POST" th:action="@{|/shows/${action}|}" th:object="${show}">
                <fieldset>
                    <input type="hidden" id="uuid" name="uuid" th:field="*{uuid}" th:if="${action == 'edit'}"/>
                    <div class="col my-2">
                        <label class="form-label" for="czechName">Czech name</label>
                        <input type="text" id="czechName" name="czechName" class="form-control" th:field="*{czechName}"/>
                        <span class="error" th:if="${#fields.hasErrors('czechName')}" th:errors="*{czechName}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="originalName">Original name</label>
                        <input type="text" id="originalName" name="originalName" class="form-control" th:field="*{originalName}"/>
                        <span class="error" th:if="${#fields.hasErrors('originalName')}" th:errors="*{originalName}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="csfd">ČSFD</label>
                        <input type="text" id="csfd" name="csfd" class="form-control" th:field="*{csfd}"/>
                        <span class="error" th:if="${#fields.hasErrors('csfd')}" th:errors="*{csfd}"></span>
                    </div>
                    <div class="col my-2">
                        <div class="form-check">
                            <input type="checkbox" id="imdb" name="imdb" class="form-check-input" onclick="imdbShow();" th:field="*{imdb}">
                            <label class="form-check-label" for="imdb">IMDB</label>
                        </div>
                        <div id="imdbPanel">
                            <input type="number" id="imdbCode" name="imdbCode" class="form-control" min="1" max="999999999" step="1" th:field="*{imdbCode}"/>
                            <span class="help-inline error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></span>
                            <span class="help-inline error" th:if="${#fields.hasErrors('imdb')}" th:errors="*{imdb}"></span>
                            <span class="help-inline error" th:if="${#fields.hasErrors('imdbCode')}" th:errors="*{imdbCode}"></span>
                        </div>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="wikiCz">Czech Wikipedia</label>
                        <input type="text" id="wikiCz" name="wikiCz" class="form-control" th:field="*{wikiCz}"/>
                        <span class="error" th:if="${#fields.hasErrors('wikiCz')}" th:errors="*{wikiCz}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="wikiEn">English Wikipedia</label>
                        <input type="text" id="wikiEn" name="wikiEn" class="form-control" th:field="*{wikiEn}"/>
                        <span class="error" th:if="${#fields.hasErrors('wikiEn')}" th:errors="*{wikiEn}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label">Picture</label>
                        <img alt="Picture" class="picture" th:src="@{|/pictures/${show.picture}|}" th:if="${show.picture != null}"/>
                        <button type="submit" id="removePicture" name="removePicture" class="btn btn-danger" formnovalidate="formnovalidate" th:if="${show.picture != null}">Remove</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#picturesModal">Choose picture</button>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="note">Note</label>
                        <input type="text" id="note" name="note" class="form-control" th:field="*{note}"/>
                        <span class="error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="genres">Genres</label>
                        <select id="genres" name="genres" multiple="multiple" class="form-control" th:field="*{genres}">
                            <option th:each="genre : ${genres}" th:value="${genre.uuid}" th:text="${genre.name}"></option>
                        </select>
                        <span class="error" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></span>
                    </div>
                    <div class="col mt-4">
                        <button type="submit" id="create" name="create" class="btn btn-primary" th:if="${action == 'add'}">Create</button>
                        <button type="submit" id="update" name="update" class="btn btn-primary" th:if="${action == 'edit'}">Update</button>
                        <button type="submit" id="cancel" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate">Cancel</button>
                    </div>
                    <th:block th:replace="~{picture/modal :: modal}"/>
                </fieldset>
            </form>
        </div>
    </body>
</html>
