<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <!--/*@thymesVar id="filter" type="com.github.vhromada.catalog.web.fo.AccountFilterFO"*/-->
    <body>
        <form method="POST" th:action="@{|/accounts|}" th:object="${filter}" th:fragment="form">
            <fieldset>
                <div class="row my-2">
                    <div class="col-5">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" th:field="*{username}"/>
                    </div>
                    <div class="col-2 customButton">
                        <button type="submit" id="search" name="search" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>
