<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <!--/*@thymesVar id="action" type="java.lang.String"*/-->
    <!--/*@thymesVar id="genre" type="com.github.vhromada.catalog.web.fo.GenreFO"*/-->
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{genre/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <form method="POST" th:action="@{|/genres/${action}|}" th:object="${genre}">
                <fieldset>
                    <input type="hidden" id="uuid" name="uuid" th:field="*{uuid}" th:if="${action == 'edit'}"/>
                    <div class="col my-2">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}"/>
                        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="col mt-4">
                        <button type="submit" id="create" name="create" class="btn btn-primary" th:if="${action == 'add'}">Create</button>
                        <button type="submit" id="update" name="update" class="btn btn-primary" th:if="${action == 'edit'}">Update</button>
                        <button type="submit" id="cancel" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
