<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <!--/*@thymesVar id="action" type="java.lang.String"*/-->
    <!--/*@thymesVar id="program" type="com.github.vhromada.catalog.web.fo.ProgramFO"*/-->
    <!--/*@thymesVar id="formats" type="java.lang.String[]"*/-->
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{program/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <form method="POST" th:action="@{|/programs/${action}|}" th:object="${program}">
                <fieldset>
                    <input type="hidden" id="uuid" name="uuid" th:field="*{uuid}" th:if="${action == 'edit'}"/>
                    <div class="col my-2">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}"/>
                        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="wikiCz">Czech Wikipedia</label>
                        <input type="text" id="wikiCz" name="wikiCz" class="form-control" th:field="*{wikiCz}"/>
                        <span class="error" th:if="${#fields.hasErrors('wikiCz')}" th:errors="*{wikiCz}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="wikiEn">English Wikipedia</label>
                        <input type="text" id="wikiEn" name="wikiEn" class="form-control" th:field="*{wikiEn}"/>
                        <span class="error" th:if="${#fields.hasErrors('wikiEn')}" th:errors="*{wikiEn}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="mediaCount">Count of media</label>
                        <input type="number" id="mediaCount" name="mediaCount" class="form-control" min="1" max="100" step="1" th:field="*{mediaCount}"/>
                        <span class="error" th:if="${#fields.hasErrors('mediaCount')}" th:errors="*{mediaCount}"></span>
                    </div>
                    <label class="mt-2">Format</label>
                    <th:block th:each="format, info : ${formats}">
                        <div class="col form-check" th:classappend="${info.index == 0 ? 'mb-2' : 'my-2'}">
                            <input type="radio" class="form-check-input" th:id="|format${info.index}|" th:field="*{format}" th:value="${format}"/>
                            <label class="form-check-label" th:for="|format${info.index}|" th:text="${format}"></label>
                        </div>
                    </th:block>
                    <span class="error" th:if="${#fields.hasErrors('format')}" th:errors="*{format}"></span>
                    <div class="col mt-4 mb-2 form-check">
                        <input type="checkbox" id="crack" name="crack" class="form-check-input" th:field="*{crack}"/>
                        <label class="form-check-label" for="crack">Crack</label>
                        <span class="error" th:if="${#fields.hasErrors('crack')}" th:errors="*{crack}"></span>
                    </div>
                    <div class="col my-2 form-check">
                        <input type="checkbox" id="serialKey" name="serialKey" class="form-check-input" th:field="*{serialKey}"/>
                        <label class="form-label" for="serialKey">Serial key</label>
                        <span class="error" th:if="${#fields.hasErrors('serialKey')}" th:errors="*{serialKey}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="otherData">Other data</label>
                        <input type="text" id="otherData" name="otherData" class="form-control" th:field="*{otherData}"/>
                        <span class="error" th:if="${#fields.hasErrors('otherData')}" th:errors="*{otherData}"></span>
                    </div>
                    <div class="col my-2">
                        <label class="form-label" for="note">Note</label>
                        <input type="text" id="note" name="note" class="form-control" th:field="*{note}"/>
                        <span class="error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
                    </div>
                    <div class="col mt-4">
                        <button type="submit" id="create" name="create" class="btn btn-primary" th:if="${action == 'add'}">Create</button>
                        <button type="submit" id="update" name="update" class="btn btn-primary" th:if="${action == 'edit'}">Update</button>
                        <button type="submit" id="cancel" name="cancel" class="btn btn-danger" formnovalidate="formnovalidate">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
