<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="en">
    <!--/*@thymesVar id="books" type="java.util.List<com.github.vhromada.catalog.web.connector.entity.Book>"*/-->
    <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="query" type="java.lang.String"*/-->
    <!--/*@thymesVar id="statistics" type="com.github.vhromada.catalog.web.connector.entity.BookStatistics"*/-->
    <head th:replace="~{layout :: head}"></head>
    <body>
        <th:block th:replace="~{layout :: menu}"/>
        <th:block th:replace="~{book/menu :: menu}"/>
        <div class="container-fluid">
            <th:block th:replace="~{layout :: title}"/>
            <th:block th:replace="~{book/searchForm :: form}"/>
            <div class="table-responsive">
                <table class="table table-hover" th:if="${!#lists.isEmpty(books)}">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="book : ${books}">
                            <tr>
                                <td><a th:href="@{|/books/${book.uuid}/detail|}" th:text="${book.czechName}"></a></td>
                                <td><a th:href="@{|/books/${book.uuid}/items|}">Items</a></td>
                                <td><a th:href="@{|/books/duplicate/${book.uuid}|}">Duplicate</a></td>
                                <td><a th:href="@{|/books/edit/${book.uuid}|}">Edit</a></td>
                                <td><a th:href="@{|/books/remove/${book.uuid}|}">Remove</a></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Show pagination" th:if="${!#lists.isEmpty(books) && totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
                        <a class="page-link" aria-label="First" th:attr="tabIndex=${currentPage <= 1} ? -1" th:href="@{|/books${query}page=1|}">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage <= 1} ? 'disabled'">
                        <a class="page-link" aria-label="Previous" th:attr="tabIndex=${currentPage <= 1} ? -1" th:href="@{|/books${query}page=${currentPage - 1}|}">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:text="${T(com.github.vhromada.catalog.web.converter.ConverterUtils).convertPage(currentPage, totalPages)}"
                           th:href="@{|/books${query}page=${currentPage}|}">
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                        <a class="page-link" aria-label="Next" th:attr="tabIndex=${currentPage >= totalPages} ? -1" th:href="@{|/books${query}page=${currentPage + 1}|}">&raquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled'">
                        <a class="page-link" aria-label="Next" th:attr="tabIndex=${currentPage >= totalPages} ? -1" th:href="@{|/books${query}page=${totalPages}|}">&raquo;&raquo;</a>
                    </li>
                </ul>
            </nav>
            <th:block th:if="${#lists.isEmpty(books)}">No records.</th:block>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Count of books</th>
                            <th>Count of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="${statistics.count}"></td>
                            <td th:text="${statistics.itemsCount}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
